
<router-outlet></router-outlet>
<mat-toolbar class="example-header">PoC Example Dashboard</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened class="example-sidenav">
    <nav>
        <a mat-button routerLink="/ngx-charts" routerLinkActive="active">NGX Charts</a>
        <a mat-button routerLink="/apex-charts" routerLinkActive="active">Apex Charts</a>
        <a mat-button routerLink="/ng2-charts" routerLinkActive="active">Ng2 Charts</a>
    </nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <div style="margin-left: 100px; margin-right: 100px;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="example-footer">Footer</mat-toolbar>
