<div class="container">
  <div class="row">
    <!--<app-apex-grouped-bar></app-apex-grouped-bar>
    <app-apex-normalized-horizontal-bar></app-apex-normalized-horizontal-bar>-->
    <app-send-messages-securely></app-send-messages-securely>
    <div>
      <app-two-fa></app-two-fa>
      <app-domain-communication></app-domain-communication>
    </div>
  </div>
  <div class="row">

    <!--<app-apex-domains-graph></app-apex-domains-graph>
    <app-apex-bsn-graph></app-apex-bsn-graph>-->
  </div>
</div>
