<mat-card>
  <mat-card-header>
    <mat-card-title>
      With whom do we communicate and do they read our messages?
    </mat-card-title>
    <mat-card-subtitle>
      Number of ZIVVER messages sent and % opened, by top 10 recipient domains
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <apx-chart
      #chart
      [chart]="chartOptions.chartDetails"
      [colors]="chartOptions.colors"
      [legend]="chartOptions.legend"
      [plotOptions]="chartOptions.plotOptions"
      [series]="data.series"
      [tooltip]="chartOptions.tooltip"
      [xaxis]="data.xaxis"
    ></apx-chart>
  </mat-card-content>
</mat-card>
