<div>
  <form [formGroup]="form" novalidate>
    <mat-form-field>
      <input matInput [matDatepicker]="picker1" placeholder="Choose a date" formControlName="startDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="picker2" placeholder="Choose a date" formControlName="endDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </form>
</div>
<div class="button-row">
  <div>
    <button mat-raised-button (click)="filterData()">Apply Filters</button>
    <button mat-raised-button (click)="resetData()">Reset</button>
  </div>
  <div class="export">
    <button mat-raised-button (click)="exportData()">Export Raw Data</button>
  </div>
</div>


