<div class="container">
  <div class="row">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Filtering</mat-card-title>
        <mat-card-subtitle>Apply a filter to your data set</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <app-filtering></app-filtering>
      </mat-card-content>
    </mat-card>
  </div>
  <!--
  <div class="row">
    <mat-card>
      <mat-card-header>
        <mat-card-title>How many registered users do I have?</mat-card-title>
        <mat-card-subtitle>User growth over time</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <apx-chart
          #chart
          [chart]="chartOptions.chart"
          [colors]="colors"
          [series]="userDataSet.series"
          [stroke]="chartOptions.stroke">
        </apx-chart>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>How many active users do we have?</mat-card-title>
        <mat-card-subtitle>Active users over time</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <apx-chart
          #chart
          [chart]="chartOptions.chart"
          [colors]="colors"
          [series]="activeUserDataSet.series">
        </apx-chart>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>How many emails are users sending?</mat-card-title>
        <mat-card-subtitle>Total sent emails over time</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <apx-chart
          #chart
          [chart]="chartOptions.chart"
          [colors]="colors"
          [series]="emailsSentPerUser.series">
        </apx-chart>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Completely Random</mat-card-title>
        <mat-card-subtitle>No meaning</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <apx-chart
          #chart
          [chart]="chartOptions.chart"
          [colors]="colors"
          [series]="randomData.series">
        </apx-chart>
      </mat-card-content>
    </mat-card>
  </div>
</div>-->
